In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [3]:
#coordinates

In [4]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

615

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=86910c1ca931ac11748548454a2b2666

In [8]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=86910c1ca931ac11748548454a2b2666&q=Boston

In [9]:
city_weather = requests.get(city_url)
city_weather

In [10]:
city_weather.text

'{"coord":{"lon":-71.0598,"lat":42.3584},"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01n"}],"base":"stations","main":{"temp":56.43,"feels_like":55.96,"temp_min":51.85,"temp_max":60.49,"pressure":1023,"humidity":89},"visibility":10000,"wind":{"speed":0.6,"deg":269,"gust":0.85},"clouds":{"all":0},"dt":1632108023,"sys":{"type":2,"id":2001997,"country":"US","sunrise":1632047319,"sunset":1632091640},"timezone":-14400,"id":4930956,"name":"Boston","cod":200}'

In [11]:
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 56.43,
  'feels_like': 55.96,
  'temp_min': 51.85,
  'temp_max': 60.49,
  'pressure': 1023,
  'humidity': 89},
 'visibility': 10000,
 'wind': {'speed': 0.6, 'deg': 269, 'gust': 0.85},
 'clouds': {'all': 0},
 'dt': 1632108023,
 'sys': {'type': 2,
  'id': 2001997,
  'country': 'US',
  'sunrise': 1632047319,
  'sunset': 1632091640},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [12]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [13]:
# Get the JSON data.
boston_data = city_weather.json()

In [14]:
boston_data

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 56.41,
  'feels_like': 55.94,
  'temp_min': 51.85,
  'temp_max': 60.49,
  'pressure': 1023,
  'humidity': 89},
 'visibility': 10000,
 'wind': {'speed': 0.6, 'deg': 269, 'gust': 0.85},
 'clouds': {'all': 0},
 'dt': 1632108223,
 'sys': {'type': 2,
  'id': 2001997,
  'country': 'US',
  'sunrise': 1632047319,
  'sunset': 1632091640},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [15]:
boston_data['sys']

{'type': 2,
 'id': 2001997,
 'country': 'US',
 'sunrise': 1632047319,
 'sunset': 1632091640}

In [16]:
boston_data['sys']['country']

'US'

In [17]:
lat = boston_data["coord"]["lat"]
lng = boston_data["coord"]["lon"]
max_temp = boston_data["main"]["temp_max"]
humidity = boston_data["main"]["humidity"]
clouds = boston_data["clouds"]["all"]
wind = boston_data["wind"]["speed"]
print(lat, lng, max_temp, humidity, clouds, wind)

42.3584 -71.0598 60.49 89 0 0.6

In [18]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = boston_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date)

datetime.datetime(2021, 9, 20, 3, 23, 43)

In [19]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    try:
        print(i,city)
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
0 pevek
1 kavaratti
2 port elizabeth
3 hobart
4 albany
5 busselton
6 nikolskoye
7 teeswater
8 ixtapa
9 arraial do cabo
10 tazovskiy
11 bluff
12 brilon
13 santa maria
14 coahuayana
15 marsa matruh
16 soma
17 sukhumi
18 rikitea
19 atuona
20 provideniya
21 megion
22 along
23 sao joao da barra
24 puhja
25 castro
26 butaritari
27 vaitape
28 hofn
29 bilibino
30 te anau
31 gat
32 kaitangata
33 itoman
34 grand-lahou
35 qaanaaq
36 deputatskiy
37 cape town
38 okato
39 corn island
40 georgetown
41 belushya guba
42 taolanaro
43 hamilton
44 clarence town
45 ushuaia
46 hovd
47 hilo
48 madimba
49 rapid valley
50 oktyabrskoye
51 egvekinot
52 kapaa
53 san cristobal
54 pontiac
55 ankang
56 lompoc
57 ostrovnoy
58 saint george
59 kruisfontein
60 saint-augustin
61 lagunillas
62 xichang
63 lolua
64 shirvan
65 puerto ayora
66 grand gaube
67 cabo san lucas
68 barao de melgaco
69 hermanus
70 sao filipe
71 khatanga
72 punta arenas
73 salalah
74 mataura
75 rio tercero
76 souillac
77 jamestown
78 russell
79 tabas
80 katsuura
81 luanda
82 tsihombe
83 changping
84 cabedelo
85 ribeira grande
86 faanui
87 kamenskoye
88 lebu
89 ahipara
90 ponta do sol
91 kaeo
92 kodiak
93 klaksvik
94 saint-ambroise
95 bogo
96 jalu
97 grand-santi
98 gilbues
99 bapatla
100 belyy yar
101 ballina
102 narasannapeta
103 keelung
104 bethel
105 malmesbury
106 chokurdakh
107 saint-philippe
108 lorengau
109 carnarvon
110 sibolga
111 sayyan
112 meyungs
113 san ramon
114 rosario do sul
115 new norfolk
116 asau
117 utiroa
118 tuktoyaktuk
119 upernavik
120 tuatapere
121 tagusao
122 sholokhovskiy
123 hithadhoo
124 mahebourg
125 lima
126 yulara
127 barentsburg
128 sitka
129 shunyi
130 zyryanka
131 pestovo
132 uspenka
133 maceio
134 kununurra
135 sabha
136 laguna
137 broken hill
138 coihaique
139 hunza
140 pangnirtung
141 qaqortoq
142 nizhneyansk
143 sur
144 yudong
145 leh
146 novyy urengoy
147 satitoa
148 mys shmidta
149 vao
150 ewo
151 barrow
152 bredasdorp
153 bubaque
154 caravelas
155 cherskiy
156 barra dos coqueiros
157 fredericksburg
158 sisimiut
159 illoqqortoormiut
160 mar del plata
161 norwich
162 el real de santa maria
163 rupert
164 port hardy
165 naze
166 martyush
167 bengkulu
168 ilulissat
169 zaozerne
170 minuri
171 hihifo
172 namtsy
173 sentyabrskiy
174 iqaluit
175 seabra
176 yining
177 marawi
178 san patricio
179 tiksi
180 dikson
181 yichang
182 hasaki
183 chabahar
184 rocha
185 diffa
186 longyearbyen
187 timra
188 flinders
189 pisco
190 severo-kurilsk
191 ulaangom
192 avarua
193 vaini
194 tommot
195 montepuez
196 manta
197 vauvert
198 remedios
199 pochutla
200 tiruvottiyur
201 yellowknife
202 skelleftea
203 tamiahua
204 thompson
205 saint-pierre
206 nadym
207 buala
208 grindavik
209 mugur-aksy
210 marzuq
211 henties bay
212 carutapera
213 erzin
214 narsaq
215 tarhunah
216 bongor
217 port blair
218 port alfred
219 nanortalik
220 port macquarie
221 santa cruz cabralia
222 bargal
223 ahuimanu
224 portland
225 san juan
226 stoyba
227 east london
228 hailar
229 olinda
230 mount isa
231 carbonia
232 jawhar
233 eureka
234 urla
235 valkeala
236 coruripe
237 sant julia de loria
238 viedma
239 tall kayf
240 fort nelson
241 riyadh
242 roald
243 amderma
244 himatangi
245 knokke-heist
246 hambantota
247 saldanha
248 nalut
249 ouesso
250 kutum
251 fortuna
252 samusu
253 attawapiskat
254 minjur
255 volkhovskiy
256 balkanabat
257 circleville
258 mehamn
259 muisne
260 kautokeino
261 ambon
262 namatanai
263 orlik
264 avera
265 topeka
266 issoire
267 safwah
268 port hedland
269 birjand
270 beloha
271 srednekolymsk
272 norman wells
273 luderitz
274 palu
275 tasiilaq
276 huarmey
277 fuerte olimpo
278 gravdal
279 dibaya
280 saleaula
281 rrogozhine
282 dzhebariki-khaya
283 guerrero negro
284 vanimo
285 houston
286 buta
287 camacha
288 charters towers
289 mlonggo
290 san quintin
291 tura
292 praia
293 ajdabiya
294 okara
295 verkhoyansk
296 itarema
297 palauig
298 clyde river
299 vostok
300 marystown
301 tiznit
302 ovruch
303 halifax
304 umm durman
305 northam
306 high rock
307 talnakh
308 sfantu gheorghe
309 lata
310 parauna
311 gornopravdinsk
312 sorong
313 la rioja
314 grand centre
315 kamenka
316 tkvarcheli
317 thuro
318 comodoro rivadavia
319 diego de almagro
320 warqla
321 korla
322 aleksandrov gay
323 chuy
324 vestmannaeyjar
325 lavrentiya
326 alegrete
327 nantucket
328 dunedin
329 tessalit
330 tecolotlan
331 victoria
332 leningradskiy
333 honiara
334 boguchany
335 bathsheba
336 kargat
337 dingle
338 quzhou
339 ler
340 calpan
341 taoudenni
342 finnsnes
343 derzhavinsk
344 martapura
345 katherine
346 liepaja
347 indianola
348 skalistyy
349 van buren
350 mujiayingzi
351 talcahuano
352 kiama
353 yenisea
354 uwayl
355 bandarbeyla
356 ramgarh
357 roanoke rapids
358 barreirinhas
359 humberto de campos
360 perth
361 xanlar
362 skibbereen
363 nome
364 hyeres
365 thinadhoo
366 mirnyy
367 morant bay
368 kenai
369 camana
370 salmo
371 temaraia
372 trincomalee
373 adrar
374 otavalo
375 the valley
376 bend
377 mopti
378 kavieng
379 fershampenuaz
380 bemidji
381 fuling
382 bambous virieux
383 shelburne
384 oranjemund
385 chagda
386 canon city
387 atherton
388 ambilobe
389 le vauclin
390 quatre cocos
391 molepolole
392 general pico
393 ocala
394 yuzhou
395 hobyo
396 aklavik
397 mill valley
398 san andres
399 anderson
400 abu dhabi
401 kieta
402 dillon
403 rusne
404 nouadhibou
405 muzhi
406 mwinilunga
407 airai
408 mizpe ramon
409 matagami
410 tocopilla
411 vagur
412 dwarka
413 batelov
414 roebourne
415 nizhniy kuranakh
416 liku
417 eregli
418 sungaipenuh
419 qasigiannguit
420 ozernovskiy
421 tucuman
422 kushima
423 margate
424 shingu
425 lekoni
426 prince rupert
427 roswell
428 paamiut
429 kon tum
430 tabanan
431 mayumba
432 wuwei
433 bilma
434 alofi
435 high level
436 lasa
437 sangar
438 anloga
439 los llanos de aridane
440 sulangan
441 umm lajj
442 walvis bay
443 geraldton
444 carroll
445 goundi
446 dudinka
447 brae
448 burica
449 galle
450 esna
451 saint anthony
452 saskylakh
453 maldonado
454 codrington
455 fougamou
456 kitahiroshima
457 velyka bahachka
458 new ulm
459 vestmanna
460 poli
461 constitucion
462 ondjiva
463 half moon bay
464 kerema
465 college
466 kurilsk
467 evensk
468 esperance
469 san carlos de bariloche
470 ambulu
471 mikhaylovsk
472 beringovskiy
473 cidreira
474 phatthalung
475 fairhope
476 sao mateus
477 meulaboh
478 bengkalis
479 bull savanna
480 lewiston
481 zinder
482 jurm
483 cabras
484 wakkanai
485 iquique
486 payson
487 maniitsoq
488 voloshka
489 poshekhonye
490 plettenberg bay
491 denpasar
492 birao
493 jiayuguan
494 aldan
495 mount gambier
496 longlac
497 marcona
498 dubenskiy
499 goderich
500 biak
501 toamasina
502 berlevag
503 namibe
504 seoul
505 sioux lookout
506 heishan
507 chake chake
508 bitkine
509 broome
510 kahului
511 quang ngai
512 sambava
513 ledyard
514 vardo
515 marshall
516 orthez
517 kasempa
518 padang
519 severomuysk
520 kabo
521 champerico
522 tabou
523 malwan
524 magadi
525 zunheboto
526 beyneu
527 stromness
528 poum
529 saurimo
530 kachug
531 dedza
532 umzimvubu
533 gigmoto
534 aksarka
535 farah
536 santa rosa
537 burnie
538 buqayq
539 aripuana
540 voh
541 gallup
542 imbituba
543 pershotravneve
544 san jose
545 brownsville
546 coari
547 angoche
548 xuanhua
549 vila franca do campo
550 bouillante
551 ancud
552 boyolangu
553 guatire
554 tallahassee
555 solsvik
556 hargeysa
557 tual
558 barcelona
559 codajas
560 bourne
561 mitu
562 axim
563 hirara
564 khonuu
565 umm kaddadah
566 ialibu
567 san felipe
568 hami
569 lardos
570 nguiu
571 gualeguay
572 sola
573 nishihara
574 toliary
575 agadir
576 amapa
577 phan rang
578 grand river south east
579 anadyr
580 pimentel
581 oudtshoorn
582 alice springs
583 morgan city
584 ternate
585 sibu
586 meridian
587 rodrigues alves
588 qom
589 oytal
590 onega
591 artvin
592 kalianget
593 rio gallegos
594 orocue
595 flin flon
596 cayenne
597 nambucca heads
598 port lincoln
599 horsham
600 kazalinsk
601 sao francisco
602 uaua
603 pitimbu
604 osoyoos
605 yangjiang
606 arkhangelos
607 tsimlyansk
608 sechura
609 husavik
610 kapuskasing
611 vikhorevka
612 akyab
613 dilla
614 sandwick
-----------------------------
Data Retrieval Complete
-----------------------------

In [20]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Pevek,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
1,Kavaratti,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
2,Port Elizabeth,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
3,Hobart,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
4,Albany,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
5,Busselton,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
6,Nikolskoye,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
7,Teeswater,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
8,Ixtapa,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23
9,Arraial Do Cabo,42.3584,-71.0598,60.49,89,0,0.6,US,2021-09-20 03:20:23

In [23]:
# Reorder columns
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]

In [24]:
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Pevek,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
1,Kavaratti,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
2,Port Elizabeth,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
3,Hobart,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
4,Albany,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
5,Busselton,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
6,Nikolskoye,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
7,Teeswater,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
8,Ixtapa,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6
9,Arraial Do Cabo,US,2021-09-20 03:20:23,42.3584,-71.0598,60.49,89,0,0.6

In [26]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")